[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "tmux/.tmux/tmux-gpu"]
	path = tmux/.tmux/tmux-gpu
	url = https://github.com/yatli/tmux-gpu.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-logging"]
    path = tmux/.tmux/plugins/tmux-logging
    url = https://github.com/tmux-plugins/tmux-logging.git
[submodule "tmux/.tmux/plugins/tmux-mem-cpu-load"]
    path = tmux/.tmux/plugins/tmux-mem-cpu-load
    url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "tmux/.tmux/plugins/tmux-net-speed"]
	path = tmux/.tmux/plugins/tmux-net-speed
	url = https://git::@github.com/tmux-plugins/tmux-net-speed
